environs==11.0.0
datashaper==0.0.49
azure-search-documents==11.4.0
lancedb==0.9.0
uvloop==0.19.0; platform_system != 'Windows'
nest-asyncio==1.6.0; platform_system == 'Windows'
aiolimiter==1.1.0
aiofiles==24.1.0
openai==1.35.7
nltk==3.8.1
tiktoken==0.7.0
numba==0.60.0
numpy==1.25.2
graspologic==3.4.1
networkx==3
fastparquet==2024.2.0
scipy==1.12.0
pyyaml==6.0.1
pyaml-env==1.2.1
python-dotenv==1.0.0
tenacity==8.2.3
swifter==1.4.0
pydantic==2
rich==13.6.0
textual==0.70.0
devtools==0.12.2
typing-extensions==4.12.2
azure-storage-blob==12.19.0
azure-identity==1.17.1
coverage==7.5.4
ipykernel==6.29.4
jupyter==1.0.0
nbconvert==7.16.3
poethepoet==0.26.0
pyright==1.1.368
pytest==8.2.0
pytest-asyncio==0.23.4
pytest-timeout==2.3.1
ruff==0.5.0
semversioner==2.0.3
update-toml==0.2.1

